<!DOCTYPE unspecified PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
<head>
 <link type="text/css" rel="stylesheet" href="./bootstrap.css" />
  <title>Home</title>
</head>

<body>
 
<div class="container">
<nav class="navbar  navbar-inverse">
	<ul class="nav navbar-nav">
		<h:form>
		<li><h:commandButton value="deconnexion" action="#{homeBean.logout()}" /></li>
		</h:form>
		
	</ul>
</nav>
</div>
	
	<div class="container">
		<br />
		<h2 class="text-center" >bonjour #{homeBean.cli.prenom} #{homeBean.cli.nom}</h2>
		<br />
		<h2 class="text-center" >Solde :  #{homeBean.c.solde} F cfa</h2>
		<br />
		<br />
		<div class="row">
		<div class="col-md-6 col-md-offset-3">
		<h:form>
			<div class="panel panel-primary">
  				<div class="panel-heading">Operations</div>
  				<div class="panel-body">
    				<div class="form-group">
    					<label for="exampleFormControlSelect1">Mode d'opération</label>
    					<h:selectOneMenu value = "#{homeBean.mode}" styleClass="form-control"> 
   							<f:selectItem itemValue = "1" itemLabel = "Retrait" /> 
   							<f:selectItem itemValue = "2" itemLabel = "Depot" /> 
						</h:selectOneMenu> 
  					</div>
					<div class="form-group">
						<label for="password">Montant</label>
						<h:inputText type="text" styleClass="form-control" value="#{homeBean.montant}" />
					</div>
					<h:commandButton type="submit" styleClass="btn btn-primary" value="Valider" action="#{homeBean.valider()}" />
					<h:messages globalOnly="true" style="color:red;margin:8px;" />
  				</div>
			</div>
		</h:form>
      	</div>
      	</div>
      
    </div>
	
	
	
	
</body>
</html>