<!DOCTYPE unspecified PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
<head>
 <link type="text/css" rel="stylesheet" href="./bootstrap.css" />
  <title>Connexion</title>
</head>

<body>
	
	<div class="container">
		<div class="col-md-6 col-md-offset-3">
		<h:form>
			<div class="panel panel-primary">
  				<div class="panel-heading">Connexion</div>
  				<div class="panel-body">
    				<div class="form-group">
						<label for="login">Nom d'utilisateur</label>
						<h:inputText type="text" styleClass="form-control" value="#{connexionBean.client.login}" />
					</div>
					<div class="form-group">
						<label for="password">Mot de passe</label>
						<h:inputSecret   styleClass="form-control" value="#{connexionBean.client.password}"/>
					</div>
					<h:commandButton type="submit" styleClass="btn btn-primary" value="Connexion" action="#{connexionBean.connexion()}"/>
					<h:messages globalOnly="true" style="color:red;margin:8px;" />
  				</div>
			</div>
		</h:form>
      	</div>
    </div>
	
	
	
	
</body>
</html>